<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="Lee Ourand" />
		<title>HappyGastropod: {{ page.title }}</title>
		<link rel="alternate" type="application/atom+xml" title="HappyGastropod.com" href="/atom.xml" />
		<link rel="stylesheet" type="text/css" href="/resources/reset.css" />
		<link rel="stylesheet" type="text/css" href="/resources/main.css" />
		<script src="/resources/site.js"></script>
		<link rel="shortcut icon" href="/favicon.png" />
	</head>
	<body>
		<header id="masthead">
			<div>
				<h1>HappyGastropod.com</h1>
				<h2>Taking things one step at a time since 1986.</h2>
				<nav>
					<ul>
						<li><a href="/pages/about.html">About Me</a></li>
						<li><a href="/">Blog</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<section id="content">
			<div>
				{{ content }}
			</div>
		</section>
	</body>
</html>