<div class="item">
<h2>Snails of a feather</h2>
<ul>
	<li><strong>Brian Baker</strong><br />
		<a href="http://familyattheokcorral.blogspot.com">http://familyattheokcorral.com</a></li>
	<li><strong>Mike Fisher</strong><br />
		<a href="http://crspeedy.com">http://crspeedy.com</a></li>
	<li><strong>Stewart Howe</strong><br />
		<a href="http://stewart.celermedia.com">http://stewart.celermedia.com</a></li>
		
</ul>
</div>