<div class="item">
<h2>Work Genres</h2>
<ul class="genres">
	<li><a href="#work_web">Web</a></li>
	<li><a href="#work_print">Print</a></li>
	<li><a href="#work_identity">Identity</a></li>
	<li><a href="#work_render">Render</a></li>				
</ul>
</div>