<% @title = "Login" %>
<h2>Login</h2>
<h3>Unless you're Lee, you probably don't belong here</h3>
<form action="/admin" method="post">
	<fieldset>
		<label for="username">Username</label>
		<input type="text" name="username" id="username" />
	</fieldset>
	<fieldset>
		<label for="password">Password</label>
		<input type="password" name="password" id="password" />
	</fieldset>
	<input type="submit" value="Login" />
</form>