/* #################################################################
#    _    ,                   ()  ,                                #
#   ' )  /                    /`-'|         _/_                 /  #
#    /--/ __.  _   _   __  , /   / __.  _   /  __  __ _   __ __/   #
#   /  (_(_/|_/_)_/_)_/ (_/_/__-<_(_/|_/_)_<__/ (_(_)/_)_(_)(_/_   #
#            /   /       /                          /              #
#           '   '       '                          '               #
# *################################################################*/

/* Color Definitions */

$dark_grey: #2f2f2f;
$tan: #ffebc9;
$red: #8f2911;
$green: #468966;
$orange: #f3ae39;
$blue: #3AF;
$width: 75%;


/* Mixins */

@mixin rounded($radius: 10px) {
	border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
}

@mixin animate {
	$time: 0.3s;
	transition: background $time ease;
	-webkit-transition: background $time ease;
	-moz-transition: background $time ease;
	-o-transition: background $time ease;
}

/* Main */

body {
	background: $dark_grey;
	font-size: 18px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
	color: $dark_grey;
}

header#masthead, section#content {
	background: $tan;
	padding: 20px;
}

#masthead {
	padding-top: 0;
}

#masthead>div, #content>div {
	width: $width;
	margin: 0 auto;
}

#content>div {
	@include rounded;
	background: #FFF;
	padding: 20px;
}

#masthead>div {
	margin-top: 0px;
}

#masthead h2 {
	background: $dark_grey;
	width: 99%;
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	padding: 5px;
	text-align: right;
	color: #CCC;
	font-size: 0.9em;
	font-weight: normal;
	text-shadow: #000 0 0 1px;
}

#masthead h1 {
	width: 278px;
	height: 192px;
	text-indent: -999em;
	background: url(logo.gif) no-repeat;
}

nav ul {
	float: right;
	margin: -50px 0 0;
}

nav:after {
	content: ".";
	visibility: hidden;
	height: 1px;
	clear: both;
	display: block;
}

nav ul li {
	float: right;
	margin: 5px 0 0 15px;
}

nav ul li a {
	background: $red;
	padding: 10px 20px;
	@include rounded;
	text-decoration: none;
	color: #FFF;
	@include animate;
	
	&:hover {
		background-color: lighten($red, 10%);
	}
}

#content a {
	&:link, &:visited {
		color: lighten($red, 10%);
	}
	
	&:hover {
		color: darken($red, 10%);
	}
}

#content h2>a, #content h2 {
		font-size: 40px;
		color: $red;
		letter-spacing: -2px;
		text-decoration: none;
}

body #content h2>a {
  &:link, &:visited {
		color: $red;
	}
	&:hover {
		color: lighten($red, 10%);
	}
}

#content h3 {
	font-size: 1.3em;
	background: $green;
	color: #FFF;
	font-weight: normal;
}

#content h4 {
	padding: 1em 0 0;
	border-bottom: 1px dashed #CDCDCD;
	font-size: 1.3em;
}

#content p {
	font-size: 1em;
	line-height: 1.5em;
	padding: 0.75em 0 0.75em;
}

p>code, div.post>pre {
	font-face: "Courier New", Courier, monospace;
	background: #EEE;
	border: 1px solid #DDD;
}

#content img {
	margin: 0 10px 0 0;
	padding: 5px;
	border: 2px solid #DDD;
	float: left;
}

#content img.math {
	display: block;
	float: none;
}

#disqus_thread .dsq-options {
	display: none;
}

#content img.maruku-png {
	float: none;
	display: inline;
	border-width: 0
}

em {
	font-style: italic;
}

ul {
	list-style: square;
	margin: 5px 0 5px 20px;
}

ul li {
	margin: 5px 0;
}

footer#foot {
	position: relative;
	width: $width;
	margin: 1em auto;
	
}

footer ul {
	list-style: none;
	margin: 0;
}

footer ul li {
	margin: 5px 0;
	padding: 5px;
	border-bottom: 1px dashed #555;
}

footer #recent-projects, #recent-posts, #friends
{
	width: 20%;
	float: left;
	font-size: 0.8em;
	padding: 10px;
}

footer #recent-posts
{
	width: 51%;
}

footer h3 {
	font-size: 1.4em;
	color: #FFF;
	text-shadow: #000 0 0 1px;
	border-bottom: 1px solid #555;
}

footer a
{
	text-decoration: none;
	&:link, &:visited {
		color: #CCC;
	}
	&:hover, &:active {
		color: #FFF;
		background: #222;
	}
}

/* PYGMENTS HIGHLIGHTS
   Thanks to Ken Collins */

	/* Pygment Highlight */

	$tmc: #fff;
	$tmc_b: #000;
	$tmc_k: rgb(231,125,60);
	$tmc_s: rgb(0,216,60);
	$tmc_se: rgb(76,76,76);
	$tmc_c: rgb(249,204,177);
	$tmc_i: rgb(0,136,254);
	$tmc_p: rgb(192,14,209);
	$tmc_p2: rgb(128,0,255);
	$tmc_y: rgb(255,255,102);
	$tmc_r: rgb(255,52,47);
	$tmc_g: rgb(36,255,106);
	$tmc_h: rgb(50,119,226);
	$tmc_nt: rgb(48,48,255);

	.highlight        { background: #000; font-face: "Courier New", Courier, monospace; color: #DDD; padding: 5px; overflow: auto}
	.highlight .c     { color: #999988; font-style: italic; } /* Comment */
	.highlight .err   { color: $tmc; } /* Error */
	.highlight .k     { color: $tmc_k; font-weight: bold; } /* Keyword */
	.highlight .o     { font-weight: bold; } /* Operator */
	.highlight .cm    { color: #999988; font-style: italic; } /* Comment.Multiline */
	.highlight .cp    { color: #999999; font-weight: bold; } /* Comment.Preproc */
	.highlight .c1    { color: $tmc_p; font-style: italic; } /* Comment.Single */
	.highlight .cs    { color: #999999; font-weight: bold; font-style: italic; } /* Comment.Special */
	.highlight .gd    { color: $tmc; background-color: $tmc_r } /* Generic.Deleted */
	.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
	.highlight .ge    { font-style: italic; } /* Generic.Emph */
	.highlight .gr    { color: #aa0000 } /* Generic.Error */
	.highlight .gh    { color: #999999 } /* Generic.Heading */
	.highlight .gi    { color: $tmc; background-color: $tmc_g } /* Generic.Inserted */
	.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
	.highlight .go    { color: #888888 } /* Generic.Output */
	.highlight .gp    { color: #555555 } /* Generic.Prompt */
	.highlight .gs    { font-weight: bold; } /* Generic.Strong */
	.highlight .gu    { color: $tmc; background-color: $tmc_h; } /* Generic.Subheading */
	.highlight .gt    { color: #aa0000 } /* Generic.Traceback */
	.highlight .kc    { font-weight: bold; } /* Keyword.Constant */
	.highlight .kd    { font-weight: bold; } /* Keyword.Declaration */
	.highlight .kp    { font-weight: bold; } /* Keyword.Pseudo */
	.highlight .kr    { font-weight: bold; } /* Keyword.Reserved */
	.highlight .kjs   { color: $tmc_p2; }
	.highlight .kt    { color: #445588; font-weight: bold; } /* Keyword.Type */
	.highlight .m     { color: #009999 } /* Literal.Number */
	.highlight .s     { color: $tmc_s } /* Literal.String */
	.highlight .n     { color: $tmc; }
	.highlight .na    { color: $tmc; } /* Name.Attribute */
	.highlight .nb    { color: $tmc_k; font-weight: bold; } /* Name.Builtin */
	.highlight .nc    { color: $tmc; } /* Name.Class */
	.highlight .no    { color: $tmc_c } /* Name.Constant */
	.highlight .ni    { color: #800080 } /* Name.Entity */
	.highlight .ne    { color: #990000; font-weight: bold; } /* Name.Exception */
	.highlight .nf    { color: $tmc; font-weight: bold; } /* Name.Function */
	.highlight .nn    { color: $tmc } /* Name.Namespace */
	.highlight .nt    { color: $tmc_nt } /* Name.Tag */
	.highlight .nv    { color: $tmc_c } /* Name.Variable */
	.highlight .ow    { font-weight: bold; } /* Operator.Word */
	.highlight .w     { color: #bbbbbb } /* Text.Whitespace */
	.highlight .mf    { color: #009999 } /* Literal.Number.Float */
	.highlight .mh    { color: #009999 } /* Literal.Number.Hex */
	.highlight .mi    { color: $tmc_i } /* Literal.Number.Integer */
	.highlight .mo    { color: #009999 } /* Literal.Number.Oct */
	.highlight .sb    { color: $tmc_b; background-color: $tmc_y; } /* Literal.String.Backtick */
	.highlight .sc    { color: #d14 } /* Literal.String.Char */
	.highlight .sd    { color: #d14 } /* Literal.String.Doc */
	.highlight .s2    { color: $tmc_s } /* Literal.String.Double */
	.highlight .se    { color: $tmc_se } /* Literal.String.Escape */
	.highlight .sh    { color: #d14 } /* Literal.String.Heredoc */
	.highlight .si    { color: $tmc } /* Literal.String.Interpol */
	.highlight .sx    { color: $tmc_s } /* Literal.String.Other */
	.highlight .sr    { color: $tmc_y } /* Literal.String.Regex */
	.highlight .s1    { color: $tmc_s } /* Literal.String.Single */
	.highlight .ss    { color: $tmc_i } /* Literal.String.Symbol */
	.highlight .bp    { color: #999999 } /* Name.Builtin.Pseudo */
	.highlight .vc    { color: #008080 } /* Name.Variable.Class */
	.highlight .vg    { color: $tmc_c } /* Name.Variable.Global */
	.highlight .vi    { color: $tmc_c } /* Name.Variable.Instance */
	.highlight .il    { color: #009999 } /* Literal.Number.Integer.Long */