/* #################################################################
#    _    ,                   ()  ,                                #
#   ' )  /                    /`-'|         _/_                 /  #
#    /--/ __.  _   _   __  , /   / __.  _   /  __  __ _   __ __/   #
#   /  (_(_/|_/_)_/_)_/ (_/_/__-<_(_/|_/_)_<__/ (_(_)/_)_(_)(_/_   #
#            /   /       /                          /              #
#           '   '       '                          '               #
# *################################################################*/
/* Color Definitions */
/* Mixins */
/* Main */
body {
  background: #2f2f2f;
  font-size: 18px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  color: #2f2f2f; }

header#masthead, section#content {
  background: #ffebc9;
  padding: 20px; }

#masthead {
  padding-top: 0; }

#masthead > div, #content > div {
  width: 75%;
  margin: 0 auto; }

#content > div {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #FFF;
  padding: 20px; }

#masthead > div {
  margin-top: 0px; }

#masthead h2 {
  background: #2f2f2f;
  width: 99%;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  padding: 5px;
  text-align: right;
  color: #CCC;
  font-size: 0.9em;
  font-weight: normal;
  text-shadow: #000 0 0 1px; }

#masthead h1 {
  width: 278px;
  height: 192px;
  text-indent: -999em;
  background: url(logo.gif) no-repeat; }

nav ul {
  float: right;
  margin: -50px 0 0; }

nav:after {
  content: ".";
  visibility: hidden;
  height: 1px;
  clear: both;
  display: block; }

nav ul li {
  float: right;
  margin: 5px 0 0 15px; }

nav ul li a {
  background: #8f2911;
  padding: 10px 20px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-decoration: none;
  color: #FFF;
  transition: background 0.3s ease;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease; }
  nav ul li a:hover {
    background-color: #bd3616; }

#content a:link, #content a:visited {
  color: #bd3616; }
#content a:hover {
  color: #611c0c; }

#content h2 > a, #content h2 {
  font-size: 40px;
  color: #8f2911;
  letter-spacing: -2px;
  text-decoration: none; }

body #content h2 > a:link, body #content h2 > a:visited {
  color: #8f2911; }
body #content h2 > a:hover {
  color: #bd3616; }

#content h3 {
  font-size: 1.3em;
  background: #468966;
  color: #FFF;
  font-weight: normal; }

#content h4 {
  padding: 1em 0 0;
  border-bottom: 1px dashed #CDCDCD;
  font-size: 1.3em; }

#content p {
  font-size: 1em;
  line-height: 1.5em;
  padding: 0.75em 0 0.75em; }

div.post > p > code, div.post > pre {
  font-face: "Courier New", Courier, monospace;
  background: #EEE;
  border: 1px solid #DDD; }

#content img {
  margin: 0 10px 0 0;
  padding: 5px;
  border: 2px solid #DDD;
  float: left; }

#content img.math {
  display: block;
  float: none; }

#disqus_thread .dsq-options {
  display: none; }

#content img.maruku-png {
  float: none;
  display: inline;
  border-width: 0; }

em {
  font-style: italic; }

ul {
  list-style: square;
  margin: 5px 0 5px 20px; }

ul li {
  margin: 5px 0; }

footer#foot {
  position: relative;
  width: 75%;
  margin: 1em auto; }

footer ul {
  list-style: none;
  margin: 0; }

footer ul li {
  margin: 5px 0;
  padding: 5px;
  border-bottom: 1px dashed #555; }

footer #recent-projects, #recent-posts, #friends {
  width: 20%;
  float: left;
  font-size: 0.8em;
  padding: 10px; }

footer #recent-posts {
  width: 51%; }

footer h3 {
  font-size: 1.4em;
  color: #FFF;
  text-shadow: #000 0 0 1px;
  border-bottom: 1px solid #555; }

footer a {
  text-decoration: none; }
  footer a:link, footer a:visited {
    color: #CCC; }
  footer a:hover, footer a:active {
    color: #FFF;
    background: #222; }

/* PYGMENTS HIGHLIGHTS
   Thanks to Ken Collins */
/* Pygment Highlight */
.highlight {
  background: #000;
  font-face: "Courier New", Courier, monospace;
  color: #DDD;
  padding: 5px;
  overflow: auto; }

.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: white; }

/* Error */
.highlight .k {
  color: #e77d3c;
  font-weight: bold; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #c00ed1;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: white;
  background-color: #ff342f; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: white;
  background-color: #24ff6a; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: white;
  background-color: #3277e2; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kjs {
  color: #8000ff; }

.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #00d83c; }

/* Literal.String */
.highlight .n {
  color: white; }

.highlight .na {
  color: white; }

/* Name.Attribute */
.highlight .nb {
  color: #e77d3c;
  font-weight: bold; }

/* Name.Builtin */
.highlight .nc {
  color: white; }

/* Name.Class */
.highlight .no {
  color: #f9ccb1; }

/* Name.Constant */
.highlight .ni {
  color: #800080; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: white;
  font-weight: bold; }

/* Name.Function */
.highlight .nn {
  color: white; }

/* Name.Namespace */
.highlight .nt {
  color: #3030ff; }

/* Name.Tag */
.highlight .nv {
  color: #f9ccb1; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #0088fe; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: black;
  background-color: #ffff66; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #d14; }

/* Literal.String.Char */
.highlight .sd {
  color: #d14; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #00d83c; }

/* Literal.String.Double */
.highlight .se {
  color: #4c4c4c; }

/* Literal.String.Escape */
.highlight .sh {
  color: #d14; }

/* Literal.String.Heredoc */
.highlight .si {
  color: white; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #00d83c; }

/* Literal.String.Other */
.highlight .sr {
  color: #ffff66; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #00d83c; }

/* Literal.String.Single */
.highlight .ss {
  color: #0088fe; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080; }

/* Name.Variable.Class */
.highlight .vg {
  color: #f9ccb1; }

/* Name.Variable.Global */
.highlight .vi {
  color: #f9ccb1; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
