<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="Lee Ourand" />
		<title>HappyGastropod: {{ page.title }}</title>
		<link rel="alternate" type="application/atom+xml" title="HappyGastropod.com" href="/atom.xml" />
		<link rel="stylesheet" type="text/css" href="/resources/reset.css" />
		<link rel="stylesheet" type="text/css" href="/resources/main.css" />
		<script src="/resources/site.js"></script>
		<script type="text/javascript">
		        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		        </script>
		        <script type="text/javascript">
		        try {
		        var pageTracker = _gat._getTracker("UA-7743776-1");
		        pageTracker._trackPageview();
		        } catch(err) {}</script>
		
		<link rel="shortcut icon" href="/favicon.png" />
	</head>
	<body>
		<header id="masthead">
			<div>
				<h1>HappyGastropod.com</h1>
				<h2>Taking things one step at a time since 1986.</h2>
				<nav>
					<ul>
						<li><a href="/pages/archive.html">Archive</a></li>
						<li><a href="/pages/about.html">About Me</a></li>
						<li><a href="/">Blog</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<section id="content">
			<div>
				{{ content }}
			</div>
		</section>
		<footer id="foot">
			<div id="recent-projects">
				{% include recent_projects.html %}
			</div>
			<div id="recent-posts">
				{% include recent_posts.html %}
			</div>
			<div id="friends">
				{% include friends.html %}
			</div>				
		</footer>
	</body>
</html>